body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  

  .logo img {
    max-width: 10em;
    height: auto;
    margin-left: 5em;
  }
  
  nav {
    margin-left: auto;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 20px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-family: 'poppins';
    font-weight: bold;
    font-size: 1.10em;
  }

  nav a:hover{
    color: #FFC531;
  }
  
  .cart-icon img {
    max-width: 3em;
    height: auto;
    margin-right: 200px;
  }
  
/*---------------- Cards -------------------*/

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
  }
  
  .card {
    flex-basis: auto;
    width: 300px;
    height: 300px;
    border: 1px solid #ddd;
    text-align: center;
    padding: 25px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .card:hover{
    transform: translateY(-5px);
  }
  
  .card img {

    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .card h2 {
    font-family: sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-family: sans-serif;
    font-size: 18px;
    color: #4e4e4e;
  }

  button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #FFC531; 
  }

  button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #FFC531;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }

  button:hover{
    background-color: #ebb93d;
  }

/*---------------- Texto produtos -------------------*/

.textocima{
    color: #FFC531;
    font-size: 2em;
    font-family: 'poppins';
    text-align: center;
}

h1{
  color: #FFC531;
  font-size: 2em;
  font-family: 'poppins';
  text-align: center;
}

/*---------------- Footer -------------------*/

body {
  padding: 0;
  margin: 0;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 14px;
  line-height: 1.5;
  font-family: "poppins";
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.left span {
  margin-right: 20px;
  margin-bottom: 5px;
}

.social-icons span {
  margin-right: 10px;
}

.icon-wrapper {
  display: flex;
}

.icon-wrapper a {
  color: white;
  margin-right: 10px;
}

.right {
  text-align: right;
}

.right span {
  display: block;
  margin-bottom: 10px;
}


/*---------------- Mobile -------------------*/


  @media only screen and (max-width: 390px) {

    body {
    width: 390px;
    height: 844px;
    overflow-x: hidden;
    }
      
    

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
      .logo img {
        max-width: 4em;
        height: auto;
        justify-content: center;
      }
      
      nav {
        margin-left: auto;
      }
    
      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
      }
      
      nav li {
        margin: 20px;
      }
      
      nav a {
        color: #333;
        text-decoration: none;
        font-family: 'poppins';
        font-weight: bold;
        font-size: 0.2em;
      }
    
      nav a:hover{
        color: #FFC531;
      }
      
      .cart-icon img {
        max-width: 2em;
        height: auto;
        margin-right: 50px;
      }
  }

  /*---------------- Formularo -------------------*/

  form {
    font-family: 'poppins';
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 100px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #ccc;
  }
  input[type="submit"] {
    font-size: large;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ffc531;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  input[type="submit"]:hover {
    background-color: #ffd772;

  }

  textarea {
    resize: none;
  }